<ul class="nav button-group round">
  <li><%= link_to '|<', root_path, class: "button tiny" %></li>
  <li><%= link_to '<', root_path, class: "button tiny" %></li>
  <li><%= link_to '?', root_path, class: "button tiny" %></li>
  <li><%= link_to '>', root_path, class: "button tiny" %></li>
  <li><%= link_to '>|', root_path, class: "button tiny" %></li>
</ul>
