<!DOCTYPE html>
<html lang="en>
  <head>
    <title>Komikb00k</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="row">
      <div id="topLeft" class="medium-4 columns box">
        <ul class="nav pull-right">
          <li><%= link_to "Home",       root_path %></li>
          <% if user_signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", edit_user_registration_path %></li>
                <li><%= link_to "Settings", '#' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
                </li>
              </ul>
            </li>
            <li> <%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>

        <ul class="inline-list">
          <li><%= link_to(image_tag("logos/logo.png", width: '110'), root_path) %></li>
          <li><%= link_to 'Other Komikb00ks', root_path %></li>
          <li><%= link_to 'List of Authors', root_path %></li>
        </ul>
      </div>
      <div id="topRight" class="medium-8 columns box">
        <div id="masthead">
          <span>Author:<%= current_user.name if current_user %></span>
        </div>
      </div>
    </div>

    <div id="content" class="row">
      <div class="medium-12 columns box">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>

    <div class="row">
      <footer class="footer">
        <div class="medium-12 columns">
          Footer
        </div>
      </footer>
    </div>
  </body>
</html>
