<!DOCTYPE html>
<html lang="en>
  <head>
    <title>Komikb00k</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="row" data-equalizer>
      <div id="topLeft" class="medium-4 columns box" data-equalizer-watch>
        <%= link_to(image_tag("logos/logo.png", width: '110'), root_path) %>
        <li><%= link_to "Home",       root_path %></li>
        <li>
          <a href="#" data-dropdown="hover1" data-options="is_hover:true; hover_timeout:5000">Account &raquo;</a>
          <ul id="hover1" class="f-dropdown" data-dropdown-content>
            <% if user_signed_in? %>
              <li><%= link_to "Profile", edit_user_registration_path %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Sign in", new_user_session_path %></li>
            <% end %>
          </ul>
        </li>
          <% if !user_signed_in? %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        <li><%= link_to 'Other Komikb00ks', root_path %></li>
        <li><%= link_to 'Other Authors', users_path %></li>

      </div>
      <div id="topRight" class="medium-7 columns box" data-equalizer-watch>
        <div id="masthead">
          <%= link_to(image_tag("logos/logo.png", width: '110'), root_path) %>
          <span><%= current_user.name if current_user %></span>
        <ul class="inline-list">
          <li><%= link_to 'More comics', root_path %></li>
        </ul>
        </div>
      </div>
    </div>

    <div id="content" class="row">
      <div class="medium-12 columns box">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>

    <div class="row">
      <footer class="footer">
        <div class="medium-12 columns">
          Footer
        </div>
      </footer>
    </div>
  </body>
</html>
